@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  [role="list"] {
    list-style: none;
    margin: none;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  li,
  p {
    text-wrap: pretty;
  }
  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  h4,
  label,
  input,
  button {
    line-height: 1.1;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}
@layer base {
  :root {
    --clr-brown-500: #423d3c;
    --clr-brown-600: #383231;
    --clr-brown-700: #2d2726;
    --clr-brown-800: #292424;
    --clr-brown-900: #221e1e;
    --clr-white: #ffffff;
    --clr-brand-400: #f7b687;
    --clr-brand-500: #f59c5c;
    --clr-green-400: #659577;
    --clr-green-500: #3a8256;
    --clr-green-600: #223f2e;
    --clr-gray-100: #cbc8c8;
    --clr-orange-500: #664529;
    --clr-red-500: #522829;
    --clr-teal-500: #25555b;

    --ff-heading: "Outfits", Sans-serif;
    --ff-body: "Fira", sans-serif;

    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 3.75rem;
    --fs-1000: 3.75rem;

    @media (width > 760px) {
      --fs-500: 1.25rem;
      --fs-600: 1.5rem;
      --fs-700: 2rem;
      --fs-800: 3rem;
      --fs-900: 5rem;
      --fs-1000: 7.5rem;
    }
  }

  :root {
    --text-main: var(--clr-gray-100);
    --text-high-contrast: var(--clr-white);
    --text-brand: var(--clr-brand-500);
    --text-brand-light: var(--clr-brand-400);

    --background-accent-light: var(--clr-green-400);
    --background-accent-main: var(--clr-green-500);
    --background-accent-dark: var(--clr-green-600);

    --background-extra-light: var(--clr-brown-500);
    --background-light: var(--clr-brown-600);
    --background-main: var(--clr-brown-700);
    --background-dark: var(--clr-brown-800);
    --background-extra-dark: var(--clr-brown-900);

    --font-size-heading-sm: var(--fs-700);
    --font-size-heading-regular: var(--fs-800);
    --font-size-heading-lg: var(--fs-900);
    --font-size-heading-xl: var(--fs-1000);

    --font-size-sm: var(--fs-300);
    --font-size-regular: var(--fs-400);
    --font-size-md: var(--fs-500);
    --font-size-lg: var(--fs-600);

    --border-radius-1: 0.25rem;
    --border-radius-2: 0.5rem;
    --border-radius-3: 0.75rem;
  }

  html {
    font-family: var(--ff-body);
    line-height: 1.6;
  }
  body {
    font-size: var(--font-size-regular);
    color: var(--text-main);
    background-color: var(--background-main);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--ff-heading);
    color: var(--text-high-contrast);
  }

  h1 {
    font-size: var(--font-size-heading-regular);
  }
  a {
    color: var(--text-high-contrast);
  }
  a:hover,
  a:focus-visible {
    color: var(--text-brand-light);
  }
}

@layer layout {
  .wrapper {
    --wrapper-max-width: "1130px";
    --wrapper-padding: 1rem;
    --wrapper-margin: auto;
    box-sizing: content-box;

    max-width: var(--wrapper-max-width);
    margin-inline: var(--wrapper-margin);
    padding-inline: var(--wrapper-padding);
  }

  .wrapper[data-width="narrow"] {
    --wrapper-max-width: 720px;
  }

  .wrapper[data-width="wide"] {
    --wrapper-max-width: 1130px;
  }

  .section {
    --padding-block: 3.75rem;
    padding-block: var(--padding-block);
    @media (width > 760) {
      --padding-block: 8rem;
    }
    &[data-padding="compact"] {
      --padding-block: 4.5rem;
    }
  }
  h3 {
    color: var(--clr-brand-500);
  }

  img {
    border-radius: var(--border-radius-3);
  }
}

@layer utilities {
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .text-center {
    text-align: center;
  }
  .text-brand {
    color: var(--text-brand);
  }
  .text-high-contrast {
    color: var(--text-high-contrast);
  }

  .section-title {
    font-size: var(--font-size-heading-regular);
  }

  .background-base {
    background-color: var(--background-base);
  }
  .background-light {
    background-color: var(--background-light);
  }
  .background-extra-light {
    background-color: var(--background-extra-light);
  }
  .background-dark {
    background-color: var(--background-dark);
  }
  .background-extra-dark {
    background-color: var(--background-extra-dark);
  }

  .background-accent {
    background-color: var(--background-accent-dark);
  }

  .font-size-sm {
    font-size: var(--font-size-sm);
  }
  .font-size-regular {
    font-size: var(--font-size-regular);
  }
  .font-size-md {
    font-size: var(--font-size-md);
  }
  .font-size-lg {
    font-size: var(--font-size-lg);
  }

  h3 {
    color: var(--text-brand);
    padding-block: 1rem;
    font-size: var(--font-size-lg);
    text-align: var(--text-center);
  }
  h2 {
    color: var(--text-high-contrast);
    padding-block: 1rem;
    font-size: var(--font-size-heading-regular);
    text-align: var(--text-center);
  }
}

@layer card {
  .card {
    border-radius: var(--border-radius-2);
    background-color: var(--background-extra-light);
    height: 547px;
    padding: 1rem;
    text-align: var(--text-center);

    img {
      border-radius: var(--border-radius-1);
    }
  }

  .flex {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
