*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

[role="list"] {
  list-style: none;
  margin: none;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

li,
p {
  text-wrap: pretty;
}
body {
  min-block-size: 100vh;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
label,
input,
button {
  line-height: 1.1;
}

img,
picture {
  max-inline-size: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
